.preventers
    .preventer4.preventer
        .preventer_r
            img.preventer_img(src=require('./img/nr4.png'))
        .preventer_empty.preventer_empty_closed
        .preventer_L
            img.preventer_img(src=require('./img/nl4.png'))

    .preventer3.preventer
        .preventer_r
            img.preventer_img(src=require('./img/nr3.png'))
        .preventer_empty
        .preventer_L
            img.preventer_img(src=require('./img/nl3.png'))
  
    .preventer2.preventer
        .preventer_r
            img.preventer_img(src=require('./img/nr2.png'))
        .preventer_empty
        .preventer_L
            img.preventer_img(src=require('./img/nl2.png'))
  
    .preventer1.preventer
        .preventer_r
            img.preventer_img(src=require('./img/nr1.png'))    
        .preventer_empty
        .preventer_L
            img.preventer_img(src=require('./img/nl1.png'))